@CHARSET "UTF-8";

html,body{
	width : 100%;
	height : auto;
}

#nav-fixed>span{
	color : black !important;
}

#intro-about{
	width : 100%;
	height : auto;
	padding-top : 150px;
}

#intro-about>div:FIRST-CHILD{
	line-height: 40px;
}

#intro-about > div{
	width : 100%;
	height : 80px;
	text-align: center;
	font-size: 25px;
}

#pircture-section{
	width : 80%;
	height : auto;
	
	max-width: 950px;
	margin : 0 auto;
	
	position : relative;
}

#rolling-banner{
	width : 100%;
	height : 500px;
	
	position : relative;
	overflow : hidden;
}

#rolling-banner>div{
	position : absolute;
}

#rolling-banner>div>img{
	width : 100%;
	height : 100%;
	
	position : absolute;
	z-index: 1;
}

#iconArea{
	width : 100%;
	height : 100%;
	top: 0px;
	
	position : absolute;
	
}

#prev, #next{
	width : 50px;
	height : 200px;
	
	text-align: center;
	
	position : absolute;
	
	background-color: rgba(64,64,64, 0.6);
	z-index : 999;
	
}

#iconArea>div:HOVER{
	cursor: pointer;
}

#iconArea>div>img{
	width : 32px;
	height : 32px;
	
	margin: auto;
}


#text-area{
	width : 80%;
	height : 1000px;
	
	max-width : 950px;
	margin: 0 auto;
	margin-top: 30px;
	
	font-family: "Calibre Light",arial,sans-serif;
	
}

#text-area > div{
	float : left;
	width : 49%;
	height : 100%;
}

#text-left{
	margin-right : 1%;
}

#text-right{
	margin-left : 1%;
}

.text-title{
	text-align: center;
	line-height : 18px;
	letter-spacing: 3px;
	
	font-size: 15px;
	font-weight: 10px;
	font-style: italic;
}

.text-divide{
	margin-top: 10px;
	
	text-align: center;
	font-size: 40px;
	line-height: 20px;
	
	font-weight: lighter;
}


.text-second-title{
	width : 100%;
	
	margin-top : 10px;
	
	text-align: center;
	font-size: 15px;
	
}
.text-description{
	text-align: left;
	font-size: 11px;
	line-height : 15px;
	
	margin-top : 20px;
}

.text-movie-data{
	width : 100%;
	height : auto;
	
	margin-top : 20px;
	
	position : relative;
}

.text-movie-data>img{
	width : 100%;
	position: absolute;
}

.text-movie-data>img:HOVER {
	cursor: pointer
}

.video-icon{
	width : 48px !important;
	height : 48px !important;
	
	margin: 0 auto;
}

.text-movie-small-description{
	width : 100%;
	
	color : #808080;
	text-align: center;
	font-size: 8px;
	font-style: italic;
	
	margin-top : 5px;
}

.text-movie-large-description{
	width : 100%;
	
	margin-top : 20px;
	
	text-align: left;
	font-size : 11px;
	line-height : 15px;
}



