@CHARSET "UTF-8";
html,body{
	width : 100%;
	height : auto;
}

#intro-archive{
	width : 100%;
	height : auto;
	padding-top : 150px;
}

#intro-archive>div:FIRST-CHILD{
	line-height: 40px;
}

#intro-archive > div{
	width : 100%;
	height : 80px;
	text-align: center;
	font-size: 25px;
}

#content-container{
	width : 80%;
	height : 1500px;
	
	margin : 0 auto;
	max-width: 950px;
}
#text-area{
	margin-bottom : 30px;
}
#text-area>div{
	font-size: 15px;
}

#text-area>div:FIRST-CHILD {
	padding-bottom : 20px;
}


#grid-container{
	width : 100%;
	height : auto;
	
}

#grid-container > div{
	float : left;
}

.player-container{
	width : 50%;
	height : auto;
	
	padding-bottom : 40px;
}

.player-thumnail{
	width : 90%;
	height : 220px;
	
	padding-top : 3%;
	
	overflow : hidden;
	position : relative;
	
}

.player-thumnail>img{
	width : 100%;	
	position : absolute;
	
	z-index : 400;
}

.player-thumnail>img:HOVER{
	cursor: pointer;
}

.player-thumnail>iframe{
	width : 100%;
	height : 220px;
	position : absolute;
	padding-top : 3%;
	z-index : 300;
	top : 0;
	
	display : none;
}

.player-description{
	width : 90%;
	height : 40%;
	
	margin-top : 20px;
}

.description-title{
	font-size : 15px;
	font-weight: bold;
	
	margin-bottom : 15px;
}

.description{
	font-size : 13px;
}

.video-icon{
	width : 48px !important;
	height : 48px;
	
	position : absolute;
	z-index : 700;
	
	text-align: center;
}


