@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Palanquin+Dark|Roboto|Ubuntu+Condensed');

html,body{
	width : 100%;
	height : auto;
}

#intro-archive{
	width : 100%;
	height : auto;
	padding-top : 150px;
	font-family: 'Palanquin Dark', sans-serif;
}

#intro-archive>div:FIRST-CHILD{
	line-height: 40px;
}

#intro-archive > div{
	width : 100%;
	height : 80px;
	text-align: center;
	font-size: 25px;
}

#content-container{
	width : 80%;
	height : 1500px;
	
	margin : 0 auto;
	max-width: 950px;
}
#text-area{
	margin-bottom : 30px;
}
#text-area>div{
	font-size: 15px;
	font-family: 'Fira Sans', sans-serif;
}

#text-area>div:FIRST-CHILD {
	padding-bottom : 20px;
}


#grid-container{
	width : 100%;
	height : auto;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.player-container{
	width : 49%;
	height : auto;
	
	padding-bottom : 40px;
	display: inline-block;
	vertical-align: top;
	
}

.player-thumnail{
	width : 90%;
	height : 220px;
	
	padding-top : 3%;
	
	overflow : hidden;
	position : relative;
	
}

.player-thumnail>img{
	width : 100%;	
	position : absolute;
	
	z-index : 400;
}

.player-thumnail>img:HOVER{
	cursor: pointer;
}

.player-thumnail>iframe{
	width : 100%;
	height : 220px;
	position : absolute;
	padding-top : 3%;
	z-index : 300;
	top : 0;
	
	display : none;
}

.player-description{
	width : 90%;
	height : 40%;
	
	margin-top : 20px;
}

.description-title{
	font-family: 'Palanquin Dark', sans-serif;
	font-size : 15px;
	font-weight: bold;
	
	margin-bottom : 15px;
}

.description{
	width : 100%;
	height : 48px;
	
	font-family: 'Roboto', sans-serif;
	font-size : 13px;
	line-height : 16px;
	
	overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
	-webkit-line-clamp: 3; /* 라인수 */
 	-webkit-box-orient: vertical;
 	word-wrap:break-word;
}

.description-more{
	width : 100%;
	height : 20px;
	
	margin-top : 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.description-more:HOVER{
	cursor: pointer;
}
.video-icon{
	width : 48px !important;
	height : 48px;
	
	position : absolute;
	z-index : 700;
	
	text-align: center;
}


/* 모바일 버전 css */
@media screen and (max-width: 1200px){
	#content-container{
		height : 3800px;
	}
	
	#intro-archive>div{
		font-size: 40px;
	}
	
	#text-area>div{
		font-size : 25px;
		line-height : 29px;
	}
	
	#grid-container > li{
		display : block;
		width : 100%;
		height : auto;
	}
	
	.player-thumnail{
		width : 100%;
		height : 400px;
	}
	
	.video-icon{
		width : 60px !important;
		height : 60px;
	}
	
	.description-title{
		font-size : 25px;
	}
	
	.description{
		font-size : 18px;
		line-height : 23px;
	}
}