@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Palanquin+Dark');

#nav-fixed{
	width: 100%;
	height: 50px !important;
	
	padding-top: 10px;
	
	position: fixed;
	
	box-sizing : content-box;
	
	color : white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	
	
}

#nav-fixed>span{
	height : 30px;
	font-family: 'Palanquin Dark', sans-serif;
}

#nav-fixed>span:HOVER{
	cursor: pointer;
}

.layerFirst{
	z-index: 500;
}

#menuIcon{
	width : 25px;
	height : 25px;
	display: inline-block;
	margin-top : 13px;
	margin-left: 30px;
	position : absolute;
	left: 5px;
}

#menuIcon:HOVER{
	cursor: pointer;
}


#toggleMenu{
	width : 100px;
	height: 150px;
	margin-left: 30px;
	
	text-align: left;
	display: none;
}

#toggleMenu>ul{
	padding-left: 0px;
	margin : 0;
	
}

#toggleMenu>ul>li{
	list-style: none;
	color: white;
}

#toggleMenu>ul>li>a{
	color: white;
	font-size: 15px;
	text-decoration: none;
}