<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.justDance.mvmt.mapper.interfaces.DancersInterface">
	
	
	<select id="getAllDancersInfo" resultType="Dancers">
		SELECT * FROM dancers;
	</select>
	
	<select id="getBid" parameterType="String" resultType="Integer">
		SELECT bId FROM dancers 
		WHERE bName = #{name};
		
	</select>
	
	<select id="getCareerList" parameterType="Integer" resultType="String">
		SELECT cDescription FROM career  
		where bId = #{bId};
	</select>
	
	<select id="getPersonalData" parameterType="Integer" resultType="Dancers">
		SELECT bDescription, bTitle, bFileName FROM dancers
		<where>
			bId = #{bId};
		</where>
	</select>
	
	<select id="getEducationData" parameterType="String" resultType="String">
		SELECT eDescription FROM education 
		<where>
			bId = #{bId};
		</where>
	</select>
	
</mapper>